version: "3.7"

services:
  api:
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true # Keeps the container running for debugging
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - ./apps/api/.env

  postgres:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=prisma
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 2s
      retries: 20
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: postgres -c listen_addresses='*'
    logging:
      options:
        max-size: "10m"
        max-file: "3"

  # https://www.prisma.io/docs/guides/docker#35-bonus-add-prisma-studio-for-database-management
  # TODO: Separate this out to a separate docker compose up, so it's only ran in development mode
  prisma-studio:
    image: node:25-alpine3.22
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app
    command: npx prisma studio --port 5555 --browser none --url "postgresql://postgres:prisma@postgres:5432/postgres"
    ports:
      - "5555:5555"
    depends_on:
      postgres:
        condition: service_healthy
      api:
        condition: service_started

volumes:
  postgres_data:
